<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>US ARMY</title>
    <meta name="description" content="Data analysis for ">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- End Bootstrap -->


    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="">
    <div class="container">
        <div class="row text-center">
            <h1>Final</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2>Status Summary</h2>
                    <hr>
                    <h1 >Ammo: <b> {{ ammoStatus }} </b>  &nbsp;&nbsp;&nbsp; Fuel: <b>{{ fuelStatus }}</b> &nbsp;&nbsp;&nbsp;  Personnel:<b> {{ personnelStatus }} </b></h1> 
                    <br>
                    <h2>Data Processing Dashboard</h2>
                    <hr>
                    <p>Total messages in txt Transcript {{ totalMessages }}</p>
                    <p>Total Unique message senders {{ totalAuthors }}</p>
                    <h2>Most recent sitrep</h2>
                    <hr>
                    <p>TimeStamp: {{ sitRep.timeStamp }}</p>
                    <p>Message:</p>
                    <p>{{ sitRep.msg }}</p>
                    <h2>Most recent Salute Report</h2>
                    <hr>
                    <p>TimeStamp: {{ saluteReport.timeStamp }}</p>
                    <p>Message:</p>
                    <p>{{ saluteReport.msg }}</p>

                </div>
                <div class="col-md-6">
                    <h3>Actions</h3>
                    <div class="margin-bottom:10rem">
                        <form method="get" action="/allSitreps">
                            <button class="btn btn-outline-dark" type="submit">Get All Sitreps</button>
                        </form>
                    </div>
                    <div class="margin-bottom:10rem">
                        <form method="get" action="/allReports">
                            <button class="btn btn-outline-dark" type="submit">Get All Reports</button>
                        </form>
                    </div>
                    <div class="margin-bottom:10rem">
                        <form method="get" action="/allMessages">
                            <button class="btn btn-outline-dark" type="submit">View All Messages</button>
                        </form>
                    </div>
                    <div class="margin-bottom:10rem">
                        <form method="POST" action="/searchUser">
                            Search for all messages from a User: <input type="text" name="user" style="color:black"/>
                            <input type="submit" value="Submit" style="color:black" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>
